body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
     
    
}

.header-logo {
    font-size: 24px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    width: 70vw;
    margin: auto;

}

.header-links{
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}


.hero-section {
    display: flex;
    width: 70vw;
    margin: auto;
    padding: 50px 0;
    gap: 20px;
    
}


.hero-text {
flex: 1 2 auto;
max-width: 650px;
}

.sign-up-button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 8px 25px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 16px;
}


.img-container {
    flex: 0 1 auto;
    align-self: center;
}

.hero-image{
    width: 100%;
    height: auto; 
}

.hero-main-text, .hero-secondary-text {
    margin: 5px 0;
   
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary-text, .header-links a {
    font-size: 18px;
    color: #E5E7EB;
}

.info-section {
    text-align: center;
    padding: 16px;
    margin-bottom: 50px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-item {
    width: 200px;
    margin: 20px;
}

.info-image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
}

.info-image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px #3882F6 solid;
}


.quote-section {
    background-color: #E5E7EB;
    padding: 100px;

    
}

.quote-section-content {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    color: #1F2937;
    align-self: center;
  
}

.quote-text, .quote-author {
    margin: 0;
   
}

.quote-author {
    color: #1F2937;
    padding: 5px;
   text-align: end; 
   font-weight: bold;
   font-size: 12px
}


